.header1 {
    text-align: center;
    color: rgb(226, 43, 43);
    font-size: 52px;
}

.first {
    background-color: rgb(138, 218, 136);
    padding: 50px;
}

.rosas {
    text-align: center;
    width: auto;
    height: 900px;
}