.img1 {
    height: 300px;
    width: 650px;
    padding-left: 200px;
}

#menor {
    height: 300px;
    width: 200px;
}

.imgcombo {
    height: auto;
    width: 200px;
    border: 5px solid #ffda37;
    border-radius: 13%;
}

body {
    margin: 0;
}

.part1 {
    background-color: #d45907;
    text-decoration: none;
    padding-bottom: 200px;
}

ul {
    list-style-type: none;
    display: flex;
    align-self: center;
    justify-content: space-between;
    gap: 30px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 130px;
}

.main-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    width: 300px;
}

.text1 {
    font-size: 18px;
    width: 450px;
}

.left1 {
    color: white;
}

.content1 {
    display: flex;
    margin-left: 300px;
}

button {
    background-color: #ffda37;
    border-radius: 11px;
    padding: 7px 30px; 
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    border: none;
}

.part2 {
    background-color: white;
    text-decoration: none;
    padding-bottom: 100px;
}

.header2 {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bold;
    color: #d45907;
    display: flex;
    justify-content: center;
}

.content2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.segment1, .segment2, .segment3, .segment4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;
}

.subtexto {
    width: 200px;
    height: auto;
    font-size: 18px;
    margin-top: 10px;
}

.part3 {
    background-color: #E5E7EB;
    text-decoration: none;
    padding-bottom: 150px;
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    width: 800px;
}

.name {
    margin-right: 600px;
    align-self: flex-end;
    font-size: 24;
    font-weight: bolder;
}

.part4 {
    text-decoration: none;
    margin: 120px 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #ffda37;
    border-radius: 8px;
    color: white;
}

.action {
    font-size: 20px;
    font-weight: bold;
}

.separa {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.button2 {
    font-size: 18px;
    margin-left: 40px;
    border: 1px solid rgb(0, 0, 0);
}

.footer {
    background-color: #d45907;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white;
}